<html>

<head>
     <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    
    
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
		 <script src="js/scripts.js" type="text/javascript"></script>
    <style>
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption,marquee {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
        ul{list-style-type: none}
    
        body{background-color:#F3F3F3 }
        table th,td{text-align: center;}
        td{padding-top: 20px;}
        .pric ul li{padding-top: 5px;}
    </style>
    
    
    </head>


<body>
     
        
		<div class="top-header navbar-default navbar-fixed-top fixed" style='background-color:#eb1e29;padding-bottom:.7em'>
            
			<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/icon.png" alt="" style='width:160px;height:60px;margin-top:-20px;'/></a><br><span >&nbsp;&nbsp;<a href='#' style='color:white'>&#8592;&nbsp;Back</a></span>
			</div>
				<div class="header-top-right" style='margin-top:11px;margin-left:-40px;'>
				 
				 
					<!--    <div class="cart" style='margin-left:-50px;margin-top:13px;font-size:18px;clear:all;border:1px solid white'>
							 
                                <a href="contact.html" style='color:white;'><i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;Cart</i></a>
                            
						 
						</div>
				    
					 <div class='carti' style='margin-top:-25px;margin-left:35px;clear:all;border:1px solid white'>

                    <a href="#" style='color:white;font-size:18px;'><i class="fa fa-sign-in" aria-hidden="true">&nbsp;Log In</i></a>
                         </div>-->
                    
                    <div id='cas' style='float:left;'>
                     <a href="cart.html" style='color:white;font-size:18px;font-family:arial'><i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;Cart</i></a>
                    </div>
                    
                    <div id='pas' style='float:left;margin-left:35px;font-size:18px;'>
                     <a href="login.html" style='color:white;font-family:arial'><i class="fa fa-sign-in" aria-hidden="true">&nbsp;Log In</i></a>
                    </div>
                    
				</div>
			<div class="navigation pull-right" style='padding-right:50px;color:white;margin-top:5px;'>	
			<div style='font-color:white'>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav" >
               
                     
           <li class="dropdown1" ><a href="#" style='color:white;font-size:15px;font-family:arial;'>Rent a bike</a>
           	 
           </li>        
            <li><a href="blog.html" style='color:white;font-size:15px;font-family:arial'><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;Blog</a></li>
            <div class="clearfix"></div>
          </ul>
		</div>			
	 </div>
			</div>
		</div>
		 
	
    
    <div class='large' style='width:auto;height:300px;;padding-left:3%;background-color:#F3F3F3;margin-top:120px;background-color:white;margin-left:20%;margin-right:20%;box-shadow: -1px -1px 6px #888888;text-align:center;line-height:300px;'>
    
        <span style='font-size:200%;'><i><b>Your Cart is Empty ! </b></i></span>
           
        </div>
    <div id='addrh' style='width:100%;height:180px;padding-left:3%;padding-right:3%;background-color:#454545;margin-top:12px;'>
        <div id='addr' style='width:100%;height:180px;color:white;font-family:arial'>
        <div id='d1' style='width:30%;height:200px;float:left;padding-left:20px;padding-top:30px;'>
            <h4><b>Address</b></h4><br>
            <address>
              306-Sikka complex<br> buliding no.5,preet vihar,<br> commercial center, Delhi ,<br>India ,110092
            
            </address>
            
            
            </div>
            <div id='d2' style='width:20%;height:200px;float:left;padding-left:20px;padding-top:30px;'>
            <h4><b>Explore</b></h4><br>
            <ul style='list-style-type:none;'>
                
                <li style='padding-top:3px;padding-bottom:3px;'>
                Share your story
                
                </li>
                <li style='padding-top:3px;padding-bottom:3px;'>
                Blog
                
                </li>
                <li style='padding-top:3px;padding-bottom:3px;'>
                Become a partner
                
                </li>
                
                </ul>
            
            </div>
            <div id='d3' style='width:20%;height:200px;float:left;padding-left:20px;padding-top:30px;'>
            <h4><b>Help</b></h4><br>
            <ul style='list-style-type:none;'>
                
                <li style='padding-top:3px;padding-bottom:3px;'>
                 Contact us
                
                </li>
                <li style='padding-top:3px;padding-bottom:3px;'>
                Privacy policies
                
                </li>
                <li style='padding-top:3px;padding-bottom:3px;'>
                terms and conditions
                
                </li>
                
                </ul>
            
            </div>
            <div id='d4' style='width:30%;height:200px;float:left;padding-left:20px;padding-top:30px;'>
            <h4><b>Newsseletter</b></h4><br>
                <div id='d41' style='width:70%;height:100px;'>
                    <span>Sign up for News Letter</span>
                <form>
                
                <input type='text' name='info' style='padding:4px 7px;width:100%;' placeholder="Enter Your Email"><br>
                    <input type='submit' name='sabmit' value='Submit' style='padding:4px 7px;width:100%;margin-top:5px;color:black'>
                
                
                </form>
            </div>
            
            </div>
        <br clear='all'>
        
        </div>
        </div>
		 <div id='us' style='border:1px solid red;width:100%;height:150px;padding-left:3%;padding-right:3%;margin-top:10px;'>
        <div id='sp' style='text-align:left;width:100%;height:30px;border:1px solid black'>
             
            <span style=''><h4>About Us</h4></span> 
             </div>
             <div id='theory' style='height:auto;width:100%;border;1px solid black'>
             
          <p>   Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. Hello this is website. </p>
             
             </div>
        
        </div>
		<div class="footer">
		<div class="up-arrow">
			 
		</div>
			<div class="container">
				<div class="copyrights">
					<p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
				</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fb"></i></a>
					<a href="#"><i class="tw"></i></a>
					<a href="#"><i class="in"></i></a>
					<a href="#"><i class="pt"></i></a>
				</div>
				  <div class="clearfix"></div>
			</div>
		</div>
    
    
    
    
    
    </body>



</html>