<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Ridobiko</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/srch.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link href="{% static 'css/new.css' %}" rel="stylesheet" type="text/css" media="all" />
    
   
    
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- dropdown -->
<script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <script src="{% static 'js/personal.js' %}"></script>
<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
		 <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    
    
  <!--   <link href="css/media/media.css" rel="stylesheet" />   -->
 <link href="{% static 'css/head.css' %}" rel='stylesheet'  type="text/css">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    

    <style>
   
        @font-face{
font-family:vag;
src:url('fnt/VAG.ttf')}
         
     /*   a.lnk:hover{font-size: 17px !important;} */
        
       
        .select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
          
        
        .book1,.book2{float: left;width:25%;height:130px;}
        .book1{background-color: #990008;text-align: center;display: flex;
  align-items: center;
  justify-content: center;}
        .book1 span{color: white;font-family: arial;font-size: 18px;}
        .book2{background-color: #eb1e29;padding-left: 4%;}
        .bok21{padding-top: 35px;width:22%;height:100%;float:left;}
        .bok22{height: 100%;width: 76%;display: flex;align-items: center;font-family: arial;font-size: 15px;color: white;float:left;
 }
                
::placeholder{
    font-size: 12px;
    line-height: 3;
}
  
        
        
    </style>
    
    <script>
   
    
    
    </script>
    <script>
        
        
        
        
    </script>
    <link href="{% static 'css/media.css' %}" type="text/css" rel='stylesheet'>
    </head>
<body>
	<!-- header-section-starts -->
	<div class="header" id="home" style=''>
        
		
             <div class="header-top " style="background-color:#990008;border-bottom:1px solid black;padding-top:0px;font-size:11px;padding-bottom:1px;width:100%">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
            <ul class="contact-info custom-list list-inline" style='color:white;margin-top:5px;'>
              <li><span>India's Largest Online Motorcycle Aggregator</span></li>
              <li><i class="fa fa-envelope"></i><span>&nbsp;&nbsp;contact@ridibiko.com</span>&nbsp;&nbsp;&nbsp;</li>
              <li><i class="fa fa-phone"></i><span>&nbsp;&nbsp;+91 9887364521</span></li>
              <!--<li><i class="fa fa-envelope"></i><span>example@example.com</span></li>-->
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-xs-12 text-right pull-right">
            <div class="contact-right">
              <ul class="social custom-list list-inline">
                   <li><a href="http://www.vendor.ridobiko.com" target='blank' style='font-size:12px;text-decoration:none;color:white'><input type='button' value='Become a partner' name='partner' style='background-color:#eb1e29;border-radius:3px;color:white;border:none;margin-top:-100px;'></a></li>
                <li><a href="#" style='font-size:20px;'><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" style='font-size:20px;'><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#" style='font-size:20px;'><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
            <div class="header_wrapper navbar-default" style='background-color:#eb1e29;padding-top:0px;padding-bottom:2px;width:100%;z-index:1050'>
			<div class="container">
			<div class="logo">
                
				<a href="index.html"><img src="{% static 'images/icon.png' %}" alt="" style='width:130px;height:45px;margin-top:-2px;'/></a>
			</div>
				<div class="header-top-right" style='margin-top:11px;margin-left:-40px;margin-top:0px;'>
				 
                 
                    <div id='cart' style=''>
                     <a href="/buy" style='display:block;' class='rent'><i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;Cart  <span id="spa"> {{le}}</span></i></a>
                    </div>
                       <script type="text/javascript">
          $(function(){
          $.ajax({
      //The URL to process the request
        'url' : '/add',
      //The type of request, also known as the "method" in HTML forms
      //Can be 'GET' or 'POST'
        'type' : 'GET',
      //Any post-data/get-data parameters
      //This is optional
        
      //The response from the server
        'success' : function(data) {
        //You can use any jQuery/JavaScript here!!!
          $('#spa').text(data);
         
        }
      });

          });
          </script>
                    
                    <div id='login' style=''>
                    {% if user.is_authenticated %} 
                     <a href="/login" style='' class='rent'><i class="fa fa-sign-in" aria-hidden="true">&nbsp; {{user.username}} </i></a>
                     {% else %}
                     <a href="/login" style='' class='rent'><i class="fa fa-sign-in" aria-hidden="true">&nbsp;Log In</i></a>
                     
                     {% endif %}   
                         <div class='drop' style='width:auto;height:auto;'> 
                    
                        <ul style='text-align:left'>
                         
                         <li> <a href='/history'>&nbsp;<i class="fa fa-history" aria-hidden="true"></i>&nbsp;Booking history </a></li>
                            <li> <a href='/rate'>&nbsp;<i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;Rate and review </a></li>
                            <li>  <a href='/logout'>&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log out  </a></li>
                             
                         
                         </ul>
                        
                        
                        
                        </div>
                    
                        
                        
                        
                        
                    </div>
                       
                    <br clear='all'>
				</div>
			<div class="navigation pull-right" style='padding:0;color:white;margin-top:-3px;margin-right:38px;'>	
			<div style='font-color:white' class='men' style=''>
              <label class="mobile_menu" for="mobile_menu">
              <span>Menu</span>
              </label>
              <input id="mobile_menu" type="checkbox">
				<ul class="nav" style=''>
               
                     
           <li class="dropdown1" ><a id='rent' href="index.html" style='' class='rent'>Rent a bike</a>
           	 
           </li>        
            <li ><a id='blog' href="blog.html" style='' class='rent'><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;Blog</a></li>
            <div class="clearfix"></div>
          </ul>
		</div>			
	 </div>
			</div>
		</div>
    
    </div> 
        
		<div class="banner" style=''>
		 <div class='bannern' style="background-image: url({% static 'images/bnr.jpg' %});">
          <div class='maind' style=''>
          
          <div class='formd' style='background-color:white'>
               
              <span style='margin-left:30%;margin-top:400px;font-size:110%'> <b>Plan Your trip </b></span> 
              <div class='gclor' style=''>
                <form action="/cart" method="get">
              <lable style='font-family:arial'> Pickup location</lable><br>
                    <select name='location' class='s1' id='loca' style=''>
                    {% for i in list %}
                        <option>{{i}}</option>
                    {%endfor%}
                    
                    
                    </select><br><br>
                    <lable style='margin-top:15px;font-family:arial'>Pickup date & time</lable><br>
                    <input type="date" class="datepicker" name="date1"  style='width:65%;border-radius:3px;float:left;height:32px;border:1px solid grey' data-date-format='yy-mm-dd' placeholder='&nbsp;Pickup date and time'>
                    <select name='time1' class='s2'>
                    <option>9 AM</option>
                        <option>10 AM</option>
                        <option>11 AM</option>
                        <option>12 AM</option>
                        <option>1 PM</option>
                        <option>2 PM</option>
                        <option>3 PM</option>
                        <option>4 PM</option>
                        <option>5 PM</option>
                        <option>6 PM</option>
                        <option>7 PM</option>
                        <option>8 PM</option>
                        <option>9 PM</option>
                    </select><br clear='all'><br>
                    <lable style='font-family:arial'> Drop date and time </lable><br>
                    <input type="date" name="date2" class='datepicker' data-date-format='yy-mm-dd'  placeholder='&nbsp;Drop date and time'  style='width:65%;border-radius:3px;float:left;height:32px;border:1px solid grey'>
                    <select name='time2' style='' class="s3">
                    <option>9 AM</option>
                        <option>10 AM</option>
                        <option>11 AM</option>
                        <option>12 AM</option>
                        <option>1 PM</option>
                        <option>2 PM</option>
                        <option>3 PM</option>
                        <option>4 PM</option>
                        <option>5 PM</option>
                        <option>6 PM</option>
                        <option>7 PM</option>
                        <option>8 PM</option>
                        <option>9 PM</option>
                    </select><br clear='all'><br>
                    <input type='submit' value='Search' class='sbmit' style='border:none'></a>
                    
              
              
              </form>
         
                <script>
                  
                  $(document).ready(function(){
                      
                      $('#loca').select2({});
                      
                  });
                  
                  </script>  
              </div>
              </div>
          
          </div>
              </div>
	</div>
	
	<div class="content" style='height:auto;background-color:white'>
    <div class='bookwu' style='width:100%;height:auto'>
        <div class='book1' style=' '>
        <span>Why Book With Us ? </span>
            
        </div>
        <div class='book2' style=''>
          <div class='bok21' style=''>
              <img src="{% static 'images/bike.png' %}" style='width:65px;height:60px;'>
            </div>
            <div class='bok22'>
             <span>Verify Bikes</span>
            </div>
            
        </div>
        <div class='book2' style=' '>
        <div class='bok21' style=''>
              <img src="{% static 'images/refund.png' %}" style='width:65px;height:60px;'>
            </div>
            <div class='bok22'>
             <span>Easy Cancellation & <br> &nbsp;&nbsp;&nbsp;&nbsp;100% Refund</span>
            </div>
        </div>
        <div class='book2' style=' '>
        <div class='bok21' style=''>
              <img src="{% static 'images/secure%20payment.png' %} " style='width:65px;height:60px;'>
            </div>
            <div class='bok22'>
            <span>100% Secure Payment</span>
            </div>
        </div>
         
        
        <br clear='all'>
        </div>  
        <br clear='all'>
        <div id='brac' style='text-align:center;width:100%;height:auto;font-size:40px;color:grey;margin-top:15px'>
            
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div> 
        <div class='parent' style='height:150px;background-color:white;margin-top:90px;'>
        
    
        
           <div class='img1' style="margin-left:32%;background-image:url({% static 'images/men.png' %})">
            
                
            </div>
            <div class='img2' style="background-image:url({% static 'images/men.png' %});margin-left:5px;">
            
            
            </div>
            <div class='img3' style="background-image:url({% static 'images/men.png' %});margin-left:5px;">
            
           
            </div>
            <div class='img4' style="background-image:url({% static 'images/men.png' %});margin-left:5px">
            
           
            </div>
            
            <br clear='all'>
            <div class='quot1' style=''>
            <span>Trust is the glue of life. it's the foundation principal that hold all relationship.Trust is the glue of life. it's the foundation principal that hold all relationship.Trust is the glue of life. it's the foundation principal that hold all relationship.</span>
            </div>
            <div class='quot2' >
            <span> HI this is quote 2 </span>
            </div>
            <div class='quot3' >
            <span>all is well  </span>
            </div>
            <div class='quot4' >
            <span>This is quotes 4 </span>
            </div>
            <br clear='all'>
            
            
            
        
        </div>
        <script>
            $(document).ready(function()
                             {
                $('.img1').hover(function()
                               {
                   $('.quot1').css('display','block');
                    $('.quot2').css('display','none');
                   $('.quot3').css('display','none');
                   $('.quot4').css('display','none');
                    
                  
               });
                $('.img2').hover(function()
                               {
                   $('.quot1').css('display','none');
                    $('.quot2').css('display','block');
                   $('.quot3').css('display','none');
                   $('.quot4').css('display','none');
                    
                  
               });
                $('.img3').hover(function()
                               {
                   $('.quot1').css('display','none');
                    $('.quot2').css('display','none');
                   $('.quot3').css('display','block');
                   $('.quot4').css('display','none');
                    
                  
               });
                
               $('.img4').hover(function()
                               {
                   $('.quot1').css('display','none');
                    $('.quot2').css('display','none');
                   $('.quot3').css('display','none');
                   $('.quot4').css('display','block');
                    
                  
               });
            });
            
        
        
        </script>
   
        </div>
        
        <br clear='all'>
        
        <div id='addrh' style=''>
        <div id='addr' style='width:100%;height:auto;font-family:arial;'>
        <div class='d1' style=''>
            <span><b>Address</b></span><br><br>
            <address>
              306-Sikka complex<br> buliding no.5,preet vihar,<br> commercial center, Delhi ,<br>India ,110092
            
            </address>
            
            
            </div>
            <div class='d1' style=''>
                <span><b>Explore</b></span><br><br>
            <ul style='list-style-type:none;'>
                
                
                <li style=''>
                    <a href='blog.html'> Blog </a>
                
                </li>
                <li style=''>
               <a href='http://www.vendor.ridobiko.com'>  Become a partner </a>
                
                </li>
                
                </ul>
            
            </div>
            <div class='d1' style=''>
                <span><b>Help</b></span><br><br>
            <ul style='list-style-type:none;'>
                
                <li style=''>
               <a href='contact.html' style=''> Contact us </a> 
                
                </li>
                <li style=''>
                    <a href='policy.html'>Privacy policies</a>
                
                </li>
                <li style=''>
               <a href='Terms.html' > Terms and conditions</a>
                
                </li>
                
                </ul>
            
            </div>
            <div id='d4' style=''>
                <span ><b>Subscribe</b></span><br>
                <div id='d41' style=''>
                    <span style='color:#dbdbdb;font-size:14px;'>Sign up for News Letter</span>
                </div>
                <form>
                
                <input type='text' name='info' style='padding:6px 7px;width:70%;border-radius:3px;border:none;outline:none;color:black' placeholder="Your email address" id='news'>
                                                                                                                  
                    <input type='submit' name='sabmit' value='Submit' style='padding:6px 7px;width:70px;margin-top:5px;color:white;background-color:#eb1e29;border:none;border-radius:2px;padding-left:0px;outline:none'>
                
                
                </form>
                <p style='color:#dbdbdb;font-size:11px;margin-top:5px;'>Register now to get updates on <br>promotions and coupons.</p>
             
            
            </div>
        <br clear='all'>
        
        </div>
        </div>
		 <div id='us' style=''>
        <div id='sp' style=''>
             
            <span style=''><h4><b>About Ridobiko</b></h4></span> 
             </div>
             <div id='theory' style='height:auto;width:100%;'>
             
          <p style='font-family:arial;font-weight:100'> RidoBiko’s fate was written when the idea to rent bike penetrated Rajat’s mind. In the late 2015 Rajat started the concept of renting bikes making the life of many youngsters and bike trip enthusiasts in IIT Roorkee easier. Initial process was through a mobile application and the remaining link was connected manually. Noticing the chance to do good for the society and the potential the concept had, he decided to make it big. He was in search for a team of likeminded individuals with varying skill sets, which he found in IIT Roorkee itself.<br><br>
              
              A group of 5 over enthusiastic and hyperactive individuals, this formed our team. We all tuned our mind to achieve one objective “creating a seamless platform for the consumers and vendors, which will provide a hassle free and effortless bike renting experience”. We understood the problems a consumer faced while renting bike and made sure that we solved everyone of them through RidoBIko.<br><br>
              
              Booking a bike through RidoBiko is the easiest thing you would have ever done. Just signup to be part of our community of bike riding enthusiasts, select the bike you want and woof your ride is ready to mount. RidoBiko ensures transparency in every step and provides the highest level of service achievable. Join our community, enjoy the thrill of riding through the hills of India or enjoy the serenity of long drives with your partner.<br>
                 </p>
                 
             
             </div>
        
        </div>
		
		<div class="footer">
		 
			<div class="container">
				<div class="copyrights" >
                    <p><span style='font-size:19px;'>&copy; </span>2017 Ridobiko Solutions Pvt. Ltd. | All Right Reserved </p>
				</div>
				 
				  <div class="clearfix"></div>
			</div>
		</div>
    
</body>
</html>