
/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */

.toogle {
	margin-top: 0%;
    width:62%;
    padding-left:5%;
    padding-right: 5%;
     
     
}
